
.project-section{
    width: 100%;
    height: 100vh;
}
.project-section-title{
    text-align: center;
    color: rgba(10, 160, 160, 0.89);
    font-weight: bold;
    font-size: 30px;
}

.project-wrapper{
    display: grid;
    grid-template-rows: 400px;
    grid-template-columns: 32% 32% 32% ;
    padding: 20px;
    margin: 20px;
    column-gap: 2%;
}
.cards{
    border: 1px solid silver;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    height: 100%;
}

.cards img{
    width: 100%;
    height: 230px;
    overflow: hidden;
    margin-bottom: 20px;
    border-radius: 10px 10px 0px 0px;
}

.card-title{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.card-description{
    padding: 5px 10px;
    text-align: justify;
    color: rgba(0,0,0,0.8);
}
.card-button{
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    border: none;
    outline: none;
}

.btn-github,
.btn-read{
    width: 48%;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    color: white;
    height: 40px;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
}
.btn-read{
    background-color: blue;
}
.btn-github{
    background-color: darkgreen;
}
.btn-read:hover{
    border: 1px solid blue;
    color: blue;
    background: none;
}
.btn-github:hover{
    border: 1px solid darkgreen;
    color: green;
    background: none;
}

.modals{
    width: 50%;
    height: 70vh;
    position:absolute;
    left: 50%;
    top: -50%;
    transform: translate(-50%,-50%);
    background-color: beige;
    padding: 10px;
    transition: 1s;
}
.modal-title p{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.close-btn{
    width: 30px;
    height: 30px;
    background-color: silver;
    color: blue;
    border-radius: 50%;
    margin-bottom: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: center;
    line-height: 30px;
    font-size: 25px;
}

.close-btn:hover{
    cursor: pointer;
}
.modal-content{
    margin-top: 10px;
}
.show-modal{
    top: 50%;
    opacity: 1;
}
